.description{
	background-color: black;
	justify-content: space-between;
	text-align: center;
}

.description a{
	color: white;
	font-size: 30px;	
}

.box{
	background-color: black;
	justify-content: space-between;
	text-align: center;
}

.box b {
	border: solid;
	border-color: black;
}

.box c {
	color: white;
	font-size: 100px;
	text-align: center;
}